<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wanderLust</title>
</head> -->

<% layout('/layouts/boilerPlate') %>

    <!-- <h3>All listing</h3> -->
    <!-- <form method="get" action="/listing/new">
        <button>Create New Listing</button>
    </form> -->

<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
    <% for(listing of allListing){%>
    <a href="/listing/<%=listing.id%>" class="listing-link">
    <div class="card listing-card" >
    <div class="card-img-overlay"></div>
    <img src="<%=listing.image%>" class="card-img-top" alt="listing_image" style="height: 20rem;" >
    <div class="card-body">
      <p class="card-text">
       <b><%= listing.title%> </b> <br>
      <i class="fa-solid fa-indian-rupee-sign"></i>
        <%= listing.price.toLocaleString("en-IN") %> /night
      </p>
  </div>
</div>
 <% } %>
 </a>
</div>



    
   

    
</body>
<!-- </html> -->