<% layout('/layouts/boilerPlate') %>
<body>
    
    <div class="row mt-3">
    <div class="col-8 offset-2">
    <h3>Create A New Listing</h3>
    <form method="post" action="/listing" novalidate class="needs-validation" enctype="multipart/form-data">
       <div class="form-floating mb-3">
       <input name="listing[title]" id="title" type="text" class="form-control" placeholder="Enter Title" required>
       <label for="title">Enter Title</label>

       <div class="valid-feedback">
       Looks good!
       </div>
       </div>

        
        <div class="form-floating mb-3">
        <textarea name="listing[description]" placeholder="Enter Description" class="form-control" required type="text"></textarea> 
        <label for="description" >Description</label>
        <div class="invalid-feedback">
        Description should be valid!
        </div>
        </div>

         <div>
        <label for="image" class="form-label"> Upload Listing Image </label>
        <input name="listing[image]"  class="form-control" type="file" >
        </div>
        
        <div class="row">

        <div class="col-md-4">
        <label for="price" class="form-label">Price</label>
        <input name="listing[price]" placeholder="Enter Price" type="number" class="form-control" required>
        <div class="invalid-feedback">
        Please Add Valid Price!
      </div>
        </div>
        <div class="col-md-8">
        <label for="country" class="form-label">Country</label>
        <input name="listing[country]" placeholder="Enter Country" type="text" class="form-control" required>
        <div class="invalid-feedback">
        Please Enter Valid Country!
        </div>
        </div>

        </div>
       

        <div>
        <label for="location" class="form-label">Location</label>
        <input name="listing[location]" placeholder="Enter Location" type="text" class="form-control" required>
        <div class="invalid-feedback">
        Please Enter Valid Location!
       </div>
        </div>

        
        <button class="btn btn-outline-dark mt-4 mb-1">Add</button><br><br>
    </form>
</body>
</div>
</div>